<h1 id='dashboard'>Dashboard</h1>
<div><%= link_to 'Users Directory', users_path, id: 'users_directory' %></div>
<div><%= link_to 'Compose Tweet', new_tweet_path %></div>
<%= render @dashboard.timeline %>