body {
	font-size: 16px;
	font-family: Arial;
	line-height: 1.5em;
}

#container {
	max-width: 980px;
	margin: 0 auto;
}

/*HEADER*/
header {
	/*position: relative;*/
	width: 100%;
	height: 150px;
	color: #0046FF;
}

header a {
	color: #0046FF;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

#hdr_left {
	float: left;
	width: 60%;	
}

#app_name {
	width: 33%;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 2.5em;
}

#hdr_right {
	float: left;
	width: 40%;
}

#user_links {
	float: right;
	margin: 10px 10px 10px 0;
}

#hdr_right ul {

}

#search {
	float: right;
	margin-right: 10px;
}

header nav ul {
	margin: 10px;
}

header nav ul li {
	float: left;
	padding-right: 75px;
}

header nav ul li a {
	font-size: 1.2em;
}
/*END HEADER*/

/*FLASH MESSAGES*/
.alert {
	color: red;
}

.notice {
	color: green;
}

/*MAIN CONTENT*/
#main_content {
	margin-left: 10px;
}

.main_header {
	width: 340px;
	color: #0046FF;
	margin: 10px auto;
}

.main_header #dashboard_header {
	width: 130px;
	margin: 0 auto;
}

.main_header #tweet_header {
	width: 195px;
	margin: 0 auto;
}

.main_header #users_header {
	width: 188px;
	margin: 0 auto;
}

.main_header #show_user_header {
	width: 44px;
	margin: 0 auto;
}

#main_content h1 {
	font-size: 1.8em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main_content a:hover {
	text-decoration: underline;
}

#main_content ul li {
	font-size: 1.1em;
	margin: 5px 10px 5px 0;
}

#main_content ul li a {
	text-decoration: none;
}

#main_content ul li a:visited {
	color: #0046FF;
}

#clearfix {
	clear: both;
}

#new_text_tweet {
	margin-top: 10px;
	margin-right: 10px;
}

#new_image_tweet {
	margin-top: 10px;
	margin-right: 10px;
}

.timeline {
	float: left;
	width: 50%;
}

.tweet {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tweet a:visited {
	color: #0046FF;
}

/*FORMS*/
.form_header {
	font-size: 1.6em;
	color: #0046FF;
	margin-top: 10px;
	margin-bottom: 20px;
}

.form_row {
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.login_field {
	width: 250px;
}

.form_row .email_textfield {
	margin-left: 3%;
}

.form_row .password_field {
	margin-left: 0.5%;
}

.shared_link {
	text-decoration: none;
	color: #0046FF;
}

#cancel {
	font-size: 1.2em;
	color: #0046FF;	
	margin: 30px 5px 10px 0;
}

.blue_text {
	color: #0046FF;
}

#tweet_forms {
	margin-top: 30px;
}

#text_tweet_content {
	width: 350px;
}

.tweet_form_label {
	font-size: 1.3em;
	color: #0046FF;
}

/*END FORMS*/

/*END MAIN CONTENT*/

@media screen and (max-width: 950px) {
	#new_text_tweet {
		float: none;
		width: 100%;
	}

	#new_image_tweet {
		float: none;
		width: 100%;
	}
}

@media screen and (min-width: 50px) and (max-width: 510px) {
	header {
		width: 100%;
		height: 250px;
	}

	#hdr_left {
		float: none;
		width: 100%;	
	}

	#app_name {
		width: 150px;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
		font-size: 2.5em;
}

	#hdr_right {
		float: none;
		width: 150px;
		margin: 0 auto;
	}

	#hdr_right ul {
		/*position: static;*/
		margin-top: 10px;
		margin-left: 10px;
	}

	#search {
		/*position: static;*/
		margin-top: 10px;
		margin-left: 10px;
	}

	#search_searchterm {
		width: 50%;
	}

	header nav ul {
		margin: 0 auto;
		width: 150px;
	}

	header nav ul li {
		float: none;
		width: 100%;
		padding-right: 75px;
	}

	header nav ul li a {
		font-size: 1.2em;
	}
}