@charset 'UTF-8'

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body {
	font-size: 16px;
	font-family: Arial;
	line-height: 1.5em;
}

#container {
	max-width: 980px;
	margin: 0 auto;
}

/*HEADER*/
header {
	position: relative;
	width: 100%;
	height: 100px;
	color: #0046FF;
}

header a {
	color: #0046FF;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

#hdr_left {
	float: left;
	width: 70%;	
}

#app_name {
	width: 33%;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 2.5em;
}

#hdr_right {
	float: left;
	width: 30%;
}

#hdr_right ul {
	position: absolute;
	right: 10px;
	top: 10px;
}

#search {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/*END HEADER*/

/*FLASH MESSAGES*/
.alert {
	color: red;
}

.notice {
	color: green;
}

/*MAIN CONTENT*/
#main_content {
	margin-left: 10px;
}

#dashboard {
	width: 105px;
	color: #0046FF;
	margin: 10px auto;
}

a#users_directory {
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#users_directory {
	font-size: 1.2em;
}

#main_content h1 {
	font-size: 1.8em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main_content a:hover {
	text-decoration: underline;
}

#clearfix {
	clear: both;
}

#new_text_tweet {
	float: right;
	width: 35%;
	margin-top: 5px;
}

#new_image_tweet {
	float: right;
	width: 48%;
	margin-top: 5px;
}

.tweet {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*END MAIN CONTENT*/